* {
    font-family: 'Oswald', sans-serif;  
    box-sizing: border-box;
} /* The '*' sign means it's a universal CSS tag, meaning it applies to everything */

body {
    height: 100vh; /* 100VH means it uses 100% of the height of the display */
    margin: 0px;
    display: grid;
    grid-template-rows: 140px 1fr 60px; /* Grid template allows you to design content with columns. */
    grid-template-columns: 1fr;  /* Right now I don't really understand the grid part*/
    grid-template-areas:        /* I'll research grids, flexboxes and stuff later at the end of the course.*/
    "header header"
    "main main"
    "footer footer";
}

header {
    grid-area: header;
    background: radial-gradient(circle, #163570 1%, #171a31 85%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.9);
    z-index: 1;
    /*position: sticky;*/
    top: 0px;
    border: solid 1px #4e5253;
}

header > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;
    letter-spacing: 2px;
}

header > h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.6rem;
}

main {
    grid-area: main;
    height: calc(100vh - 180px);
    background-color: #f0f0f0;
    padding: 20px;
}

.content {
    position: center;
    border-radius: 5px;
    height: 100%;
    overflow-y: scroll;
    background-color: #fcfcfc;
    box-shadow:  0px 0px 10px rgba(0,0,0,0.6);
    padding: 20px;
    
}

.modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.module {
    flex-basis: 30%;
    margin-bottom: 30px;
    border: solid 2px rgb(110, 110, 110);
    border-radius: 10px;
}

.module > h3 {
    margin: 0px;
    border-radius: 5px;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background: linear-gradient(170deg, #164070 35%, #171a31 56%);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.module > ul {
    margin: 0px;
    padding: 5px;
    list-style-type: none;
}

.module > ul > li {
    padding: 10px;
    font-size: 1.3rem;
    padding-left: 60px;
    cursor: pointer;
    display: flex;
    justify-content: left;

}

.module > ul > li > a {
    display: flex;
    text-decoration: none;
    color: #222;
}

.module > ul > li:hover {
    background-color: #EEE;
    border-radius: 5px;
}

.module.green { border: solid 2px rgb(4, 96, 75); }
.module.green > h3 { background: linear-gradient(170deg, #3b6c3c 35%, #193117 56%); }

.module.red { border: solid 2px rgb(97, 3, 3); }
.module.red > h3 { background: linear-gradient(170deg, #772727 35%, #311717 56%); }

.module.blue { border: solid 2px rgb(6, 83, 113); }
.module.blue > h3 { background: linear-gradient(170deg, #3b5b6c 35%, #172a31 56%); }

.module.purple { border: solid 2px rgb(51, 6, 115); }
.module.purple > h3 { background: linear-gradient(170deg, #543b6c 35%, #231731 56%); }

.module.orange { border: solid 2px rgb(115, 73, 6); }
.module.orange > h3 { background: linear-gradient(170deg, #a2690c 35%, #5b3504 56%); }

.module.darkgreen { border: solid 2px rgb(3, 60, 27); }
.module.darkgreen > h3 { background: linear-gradient(170deg, #324209 35%, #01200d 56%); }

.module.magenta { border: solid 2px rgb(94, 11, 104); }
.module.magenta > h3 { background: linear-gradient(170deg, #7c1a74 35%, #390532 56%); }

.module.dark { border: solid 2px rgb(63, 63, 63); }
.module.dark > h3 { background: linear-gradient(170deg, #6a6a6a 35%, #323232 56%); }

.module.yellow { border: solid 2px rgb(114, 109, 12); }
.module.yellow > h3 { background: linear-gradient(170deg, #94821f 35%, #4e4b05 56%); }

footer {
    grid-area: footer;
    height: 80px;
    background-color: #ffffff;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: #313334;
    letter-spacing: 1.5px;
    /*position: sticky;
    bottom: 0px; */
}

#message {
    color: grey;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0px 120px 0px 0px;
}
